PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/riwaz_portfolio
JWT_SECRET=supersecretjwtkey_replace_me_in_production

# Cloudinary (Replace with actual credentials when available)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

EMAIL_SERVICE=gmail
EMAIL_USER=riwazstudioofficial@gmail.com
EMAIL_PASS=urwfdglkuvllahjo
EMAIL_FROM=Riwaz Studio <your_email@gmail.com>
